.contenido-calculadora .info-receta .datos {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    color: #aaa;
}
.contenido-calculadora .info-receta .datos div {
    flex-basis: calc(50% - 1rem);
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
}
.contenido-calculadora .info-receta .datos div b {
    flex-basis: 50%;
}
.contenido-calculadora .info-receta .datos div label {
    flex-basis: 50%;
}

.formulario-calculadora-costos .formulario {
    display: flex;
    flex-wrap: wrap;
}
.formulario-calculadora-costos .formulario .campo {
    flex-basis: calc(50% - 2rem);
}
.formulario-calculadora-costos .formulario .boton {
    flex-basis: 100%;
}

.resultados {
    text-align: center;
    color: #ccc;
}