.formulario {
    padding: 1rem;
}
.formulario h2 { color: var(--sobre-superficie-1); }
.formulario .campo { background-color: var(--superficie-2) }

.campo {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background-color: var(--superficie-1);
    border-radius: 0.5rem;
    margin: 0.5rem;
    box-shadow: 1px 1px 3px var(--sombra-superficie-1);
}
.campo .titulo {
    text-align: left;
    color: #aaa;
    font-size: 0.75em;
}
.input {
    padding: 0.5rem;
    font-size: 1em;
    background-color: transparent;
    border: none;
    background-color: transparent;
    color: #aaa;
    border-bottom: 1px solid transparent;
}
.input:focus {
    outline: none;
    color: white;
    border-bottom: 1px solid var(--principal);
}

.campo.campo-switch .switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
    margin: 0.5rem;
}
.campo.campo-switch .switch input {
    opacity: 0;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
}
.campo.campo-switch .switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1.5rem;
    background-color: #00000075;
}
.campo.campo-switch .switch-slider:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: var(--superficie-1);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input[type="checkbox"]:checked + .switch-slider {
    background-color: var(--principal);
}
input[type="checkbox"]:checked + .switch-slider:before {
    transform: translateX(1.5rem);
}

.campo.campo-seleccion {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #aaa;
}
.campo.campo-seleccion .contenedor-listado {
    position: absolute;
    background-color: var(--superficie-2);
    border-radius: 5px;
    box-shadow: 1px 1px 3px var(--sombra-superficie-2);
    padding: 0.5rem;
    top: 4rem;
}
.campo.campo-seleccion .valor {
    padding: 0.5rem;
}
.campo.campo-seleccion .listado {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 150px;
    color: #999;
}

.campo.campo-arreglo .listado {
    padding: 0.5rem;
    color: #aaa;
}
.campo.campo-arreglo .controles {
    display: flex;
    flex-direction: row;
}
.campo.campo-arreglo .listado .fila {
    display: flex;
    flex-direction: row;
}
.campo.campo-arreglo .listado .fila .datos { flex: 1; }
.campo.campo-arreglo .listado .fila .boton-editar {
    background-color: transparent;
    border: none;
    color: #aaa;
}

.boton {
    display: flex;
    width: calc(100% - 1rem);
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background: var(--superficie-1);
    box-shadow: 1px 1px 3px var(--sombra-superficie-1);
    color: var(--sobre-superficie-1);
    font-weight: bold;
    margin: 0.5rem;
    border-radius: 0.5rem;
}
.boton.boton-principal {
    background: var(--principal);
    box-shadow: 1px 1px 3px var(--sombra-principal);
    color: var(--sobre-principal);
}
.boton.boton-simple {
    background: transparent;
    box-shadow: none;
    border-radius: none;
    padding: 0.5rem;
    margin: 0rem;
    font-weight: normal;
}