.pagina {
    position: relative;
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.pagina h1 {
    color: white;
    margin: 1rem;
    padding: 0;
}

.pagina .slide {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    height: 100%;
    max-width: 500px;
    box-shadow: 1px 1px 5px black;
    background-color: var(--superficie-1);
    display: flex;
    flex-direction: column;
}
.pagina .slide .formulario {
    flex: 1;
}

.pagina .ancho {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 820px) {
    .pagina .ancho {
        width: 800px;
        padding-left: calc(50% - 400px);
        padding-right: calc(50% - 400px);
    }
}
