.pagina {
    position: relative;
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pagina h1 {
    color: white;
    margin: 1rem;
    padding: 0;
}

.pagina .slide {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    height: 100%;
    max-width: 500px;
    box-shadow: 1px 1px 5px black;
    background-color: var(--superficie-1);
}

.pagina .ancho {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 820px) {
    .pagina .ancho {
        width: 800px;
        padding-left: calc(50% - 400px);
        padding-right: calc(50% - 400px);
    }
}

.pagina .pagina-crud {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.pagina .pagina-crud .cabecera {
    display: flex;
    flex-direction: row;
}
.pagina .pagina-crud .cabecera .campo { flex: 1 }
.pagina .pagina-crud .cabecera .boton { width: auto; }
.pagina .pagina-crud .listado {
    flex: 1;
    margin: 0.5rem;
    background-color: var(--superficie-1);
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 1px 1px 3px var(--sombra-superficie-1);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.formulario {
    padding: 1rem;
}
.formulario h2 { color: var(--sobre-superficie-1); }
.formulario .campo { background-color: var(--superficie-2) }